body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#user-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#predict-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

#prediction {
    font-weight: bold;
}